<header class="nav navbar">
  <div class="navbar navbar-inverse">
    <div class="container">
        <h1 class="navbar-brand brand">
          <%=link_to "Blog", root_path %>
        </h1>
        <div class="nav navbar-nav navbar-right">
          <%= link_to "Subscribe", new_subscriber_path, class:"btn btn-outlined btn-black subscribe" %>
        </div>
    </div>
  </div>
</header>
